## Replicate part of ex2 to acquire imputed data

* Cleaned data for all CA counties is stored in [ca_county_employment.csv](ca_county_employment.csv)
* Cleaned state-level data for CA is stored in [ca_state_employment.csv](ca_state_employment.csv)

In [1]:
import pandas as pd
import numpy as np

In [2]:
ca = pd.read_csv('../02/CAEMP25N_CA_2001_2017.csv', skipfooter=4)

/home/serge/anaconda3/envs/pbpl204s19/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

### California State employment data

In [3]:
names = ca.GeoName.unique()
ca = ca.replace("(D)",-999) 
for i in range(8, 25):
    ca.iloc[:,i] = ca.iloc[:,i].astype(np.float)
state = ca[ca.GeoName=='California']
d4 = [70.0]
v = [100.0,
 200.0,
 300.0,
 400.0,
 500.0,
 600.0,
 700.0,
 800.0,
 900.0,
 1000.0,
 1100.0,
 1200.0,
 1300.0,
 1400.0,
 1500.0,
 1600.0,
 1700.0,
 1800.0,
 1900.0]

d4.extend(v)
d4.extend([2001.0, 2002.0, 2011.0, 2012.0])
d4 =list(map(int, d4))
state4d = state[state.LineCode.isin(d4)]
state4d_data = state4d.iloc[:,8:].values.T
description = state4d.Description.values
description = [d.strip().split()[0].replace(",","") for d in description]
state4d = pd.DataFrame(data=state4d_data, columns=description, index=range(2001,2018))
state4d["Total"] = state.iloc[0,8:].values
state4d.head()

,Farm,Forestry,Mining,Utilities,Construction,Manufacturing,Wholesale,Retail,Transportation,Information,...,Educational,Health,Arts,Accommodation,Other,Federal,Military,State,Local,Total
2001,289915.0,189802.0,38072.0,56349.0,1063103.0,1867740.0,727551.0,1953970.0,575285.0,629281.0,...,322201.0,1512062.0,458153.0,1247477.0,1122542.0,246317.0,225231.0,466533.0,1676075.0,1.93415e+07
2002,317428.0,190942.0,33442.0,56329.0,1052033.0,1720515.0,720933.0,1968931.0,560865.0,565172.0,...,346573.0,1567445.0,472666.0,1256823.0,1168624.0,254162.0,230271.0,478292.0,1726314.0,1.93582e+07
2003,310619.0,191150.0,35915.0,56949.0,1087203.0,1615130.0,721060.0,1995437.0,554065.0,548560.0,...,358259.0,1617216.0,477478.0,1281745.0,1177177.0,256271.0,235850.0,478779.0,1707633.0,1.94787e+07
2004,277366.0,190783.0,34381.0,57734.0,1167793.0,1601392.0,735224.0,2022383.0,564656.0,562379.0,...,367152.0,1636386.0,487625.0,1312586.0,1196969.0,251158.0,233115.0,471732.0,1695749.0,1.97841e+07
2005,244370.0,200827.0,36328.0,57637.0,1248701.0,1582808.0,761232.0,2069899.0,582212.0,558536.0,...,380037.0,1643016.0,494137.0,1345223.0,1208501.0,250521.0,223452.0,466231.0,1710063.0,2.01269e+07

In [4]:
state_pc = state4d.iloc[:,:-1].divide(state4d.Total,axis=0)
state_pc.head()

,Farm,Forestry,Mining,Utilities,Construction,Manufacturing,Wholesale,Retail,Transportation,Information,...,Administrative,Educational,Health,Arts,Accommodation,Other,Federal,Military,State,Local
2001,0.0149893,0.00981322,0.00196841,0.00291338,0.054965,0.0965667,0.0376161,0.101025,0.0297436,0.0325353,...,0.0637173,0.0166586,0.0781773,0.0236876,0.0644976,0.0580381,0.0127352,0.011645,0.0241209,0.0866571
2002,0.0163976,0.00986364,0.00172754,0.00290983,0.0543457,0.088878,0.0372418,0.101711,0.028973,0.0291955,...,0.0638345,0.0179032,0.0809707,0.0244169,0.0649247,0.0603685,0.0131294,0.0118953,0.0247075,0.0891776
2003,0.0159466,0.0098133,0.00184381,0.00292366,0.0558151,0.0829179,0.0370179,0.102442,0.0284447,0.0281621,...,0.0642528,0.0183924,0.083025,0.0245129,0.0658025,0.0604342,0.0131565,0.0121081,0.0245797,0.0876668
2004,0.0140196,0.00964323,0.00173781,0.0029182,0.0590267,0.0809432,0.0371623,0.102222,0.0285408,0.0284257,...,0.0646972,0.0185579,0.082712,0.0246473,0.0663453,0.0605014,0.0126949,0.0117829,0.0238439,0.0857125
2005,0.0121415,0.00997805,0.00180495,0.00286368,0.0620415,0.0786415,0.0378217,0.102843,0.0289271,0.0277508,...,0.0638505,0.0188821,0.0816329,0.0245511,0.0668371,0.0600441,0.0124471,0.0111022,0.0231646,0.0849642

### Employment data for CA counties

In [5]:
def estimate_undisclosed(county_df, state_pc, description=description):
    reported = county_df[description].values.astype('float')   # convert datatype to float from object
    total = county_df['Total'].values.astype('float')          # ditto
    missing_mask = reported == -999                            # find problem instances that are not disclosed
    reported[missing_mask] = 0                                 # set them to 0 to get reported totals
    reported_total= reported.sum(axis=1)                       # reported totals
    reported[missing_mask] = -999                              # set back to undisclosed code
    toallocate = total - reported_total                        # how much do we need to allocate
    pc = state_pc.values.astype('float')                       # get state industry shares
    estimated = np.zeros_like(reported)                        # placeholder for our estimates
    for i,row in enumerate(reported):                          # loop over each year
        missing_idx = row==-999                                 # find indexes for missing values
        if missing_idx.sum() >0:                                # if we have missing values
            row_pc = pc[i,missing_idx]                          # get state industry shares for missing sectors
            row_pc = row_pc / row_pc.sum()                      # standardized shares to sum to 1
            estimated[i,missing_idx] = row_pc * toallocate[i]   # allocate across sectors
    missing_idx = reported == -999
    reported[missing_idx] = estimated[missing_idx]              # replace any missing values for all years
    county_df[description] = reported                           # update relevant columns of df
    return(county_df)                                           # return dataframe with estimated values

In [6]:
estimated_county = []
for county in names[1:]:
    county_name = county.split(",")[0]
    county_df = ca[ca.GeoName==county]
    county_4d_df = county_df[county_df.LineCode.isin(d4)]
    data = county_4d_df.iloc[:,8:].values.T
    county_4d_df = pd.DataFrame(data=data, index=range(2001,2018), columns=description)
    county_4d_df['county'] = county_name
    county_4d_df['Total'] = county_df.iloc[0,8:].values
    estimated_county.append(estimate_undisclosed(county_4d_df, state_pc))
df_estimated_county = pd.concat(estimated_county)
df_estimated_county["year"] = df_estimated_county.index
df_estimated_county.head()

,Farm,Forestry,Mining,Utilities,Construction,Manufacturing,Wholesale,Retail,Transportation,Information,...,Arts,Accommodation,Other,Federal,Military,State,Local,county,Total,year
2001,1012.0,716.0,800.0,3492.183139,51497.0,93998.0,50971.0,85151.0,35652.816861,24240.0,...,19749.0,46832.0,45198.0,10915.0,3862.0,38304.0,65247.0,Alameda,887315,2001
2002,1145.0,646.0,784.0,3413.267580,48984.0,84449.0,47633.0,84602.0,33985.732420,22156.0,...,20524.0,47670.0,46892.0,10882.0,3852.0,40150.0,68566.0,Alameda,875474,2002
2003,1008.0,527.0,736.0,3296.721645,51164.0,80262.0,46726.0,84568.0,32074.278355,21889.0,...,20363.0,47707.0,47255.0,11145.0,3864.0,39332.0,67076.0,Alameda,878177,2003
2004,934.0,511.0,628.0,3099.820174,53477.0,81210.0,46079.0,83297.0,30317.179826,20990.0,...,20668.0,47578.0,46739.0,10862.0,3778.0,38391.0,68717.0,Alameda,880210,2004
2005,970.0,486.0,608.0,3049.987080,56333.0,79433.0,45980.0,83889.0,30809.012920,21289.0,...,21030.0,47694.0,46813.0,10642.0,3574.0,37244.0,68106.0,Alameda,885435,2005

In [7]:
df_estimated_county.to_csv("ca_county_employment.csv",index=False)

In [8]:
state4d["year"] = state4d.index
state4d.to_csv("ca_state_employment.csv",index=False)